Source: wasta-cinnamon-xenial
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-cinnamon-xenial

Package: wasta-cinnamon-xenial
Architecture: all
Depends: cinnamon, mutter, nemo, wasta-core-xenial, wasta-multidesktop-xenial, ${shlibs:Depends}, ${misc:Depends}
Recommends: ambiance-colors, arc-theme-3-18, ibus-kmfl, ifstat, kmfl-keyboard-ipa, nemo-compare, nemo-image-converter, nemo-preview, nemo-sendto-clamtk, vnstat, vnstati, wasta-vertex, wasta-vertex-ubuntu
Description: Wasta-Linux Cinnamon
 Wasta-Linux 16.04 Xenial Cinnamon Setup.
