Source: wasta-cinnamon-xenial
Section: utils
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://github.com/wasta-linux/wasta-cinnamon-xenial

Package: wasta-cinnamon-xenial
Architecture: all
Depends: arc-theme-3-18, cinnamon, ibus-kmfl, nemo, wasta-core-xenial, wasta-multidesktop-xenial, wasta-vertex-ubuntu, ${shlibs:Depends}, ${misc:Depends}
Recommends: ambiance-colors, ifstat, nemo-image-converter, nemo-preview, vnstat, vnstati, wasta-vertex
Description: Wasta-Linux Cinnamon
 Wasta-Linux 16.04 Xenial Cinnamon Setup.
